### {{ ansible_managed }}
### Installed in /etc/logrotate.d/
### Execute /usr/sbin/logrotate -d /etc/logrotate.d/mysql_slow to test config
### Preferably set use_global_long_query_time = ON / slow_query_log_use_global_control = 'long_query_time' | 'all'
### Can use FLUSH SLOW LOGS; on mysql 5.5+

{{ "%s/%s"|format(percona_mysql_log_dir, percona_mysql_logdir_variables.percona_mysql_slow_query_log_file.value) }} {
    create 660 mysql mysql
    daily
    minsize 512M
    rotate 7
    notifempty
    missingok
    compress
    delaycompress
    sharedscripts
    postrotate
    {% if percona_mysql_server_version|replace(".","") < 55 %}
       env HOME=/root/ `which mysql` -e 'select @@global.long_query_time into @lqt_save; set global long_query_time=2000; select sleep(2); FLUSH LOGS; select sleep(2); set global long_query_time=@lqt_save'
    {% else %}
       env HOME=/root/ `which mysql` -e 'select @@global.long_query_time into @lqt_save; set global long_query_time=2000; select sleep(2); FLUSH SLOW LOGS; select sleep(2); set global long_query_time=@lqt_save'
    {% endif %}
    endscript
}
