### {{ ansible_managed }}
[client]
socket=/var/run/mysqld/mysqld.sock
user={{ percona_mysql_user_name }}
password={{ percona_mysql_user_password|default(lookup('file', '/tmp/percona_mysql/' + inventory_hostname + '_percona_mysql_user_password_file'), true) }}
